@page
@using Dfe.Sww.Ecf.Frontend.Extensions
@model CheckYourAnswers

@{
    Model.Title = "Check the organisation details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" data-test-id="confirm-organisation-details">
            <h1 class="govuk-heading-l">
                Check your answers
            </h1>

            <h2 class="govuk-heading-m">
                Organisation details
            </h2>

            <govuk-summary-list>
                @if (Model.Organisation?.LocalAuthorityCode is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Organisation!.LocalAuthorityCode)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.Organisation.LocalAuthorityCode</p>
                        </govuk-summary-list-row-value>
                        @if (!string.IsNullOrEmpty(Model.ChangeLocalAuthorityCodeLink))
                        {
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action href="@Model.ChangeLocalAuthorityCodeLink">
                                    Change code
                                </govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        }
                    </govuk-summary-list-row>
                }

                @if (Model.Organisation?.OrganisationName is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Organisation!.OrganisationName)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.Organisation.OrganisationName</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }

                @if (Model.Organisation?.Type is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Organisation!.Type)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.Organisation.Type.GetDisplayName()</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }

                @if (Model.Organisation?.Region is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Organisation!.Region)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.Organisation.Region</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>

            @if (Model.PrimaryCoordinator != null)
            {
                <govuk-summary-card>
                    <govuk-summary-card-title>Primary coordinator</govuk-summary-card-title>
                    <govuk-summary-card-actions>
                        <govuk-summary-card-action href="@Model.ChangePrimaryCoordinatorLink">Change</govuk-summary-card-action>
                    </govuk-summary-card-actions>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.PrimaryCoordinator!.FullName)</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.PrimaryCoordinator.FullName</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.PrimaryCoordinator!.Email)</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.PrimaryCoordinator.Email</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        @if (Model.Organisation != null)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Organisation!.PhoneNumber)</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>@Model.Organisation.PhoneNumber</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </govuk-summary-card>
            }

            <p class="govuk-body">@(Model.IsEdit ? "When you update this organisation" : "When you save this organisation"), we will send the coordinator an invitation email with a link to enter the service through GOV.UK One Login. You should inform them to expect this email.</p>

            <govuk-button type="submit">@(Model.IsEdit ? "Update organisation" : "Save new organisation")</govuk-button>
        </form>
    </div>
</div>
