@model Dfe.Sww.Ecf.Frontend.Views.Accounts.AddUserDetailsModel

@{
    ViewData["Title"] = "Confirm User Details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Check user details before adding them
        </h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First name
                </dt>
                <dd class="govuk-summary-list__value">@Model.FirstName</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("AddUserDetails")">Change<span class="govuk-visually-hidden"> first Name</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last name
                </dt>
                <dd class="govuk-summary-list__value">@Model.LastName</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("AddUserDetails")">Change<span class="govuk-visually-hidden"> last name</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">@Model.Email</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("AddUserDetails")">Change<span class="govuk-visually-hidden"> email address</span></a>
                </dd>
            </div>
        </dl>
        @if (Model.SocialWorkEnglandNumber is not null) {
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Social Work England registration number (optional)
                    </dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Social Work England registration number (optional)</span></a>
                    </dd>
                </div>
            </dl>
        }

        <form asp-controller="Accounts" asp-action="ConfirmUserDetails">
            <button class="govuk-button" type="submit">Add</button>
        </form>
    </div>
</div>
