@page "{id:Guid?}"
@model CheckYourAnswers

@{
    Model.Title = "Check your answers";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" data-test-id="confirm-details">
            <h1 class="govuk-heading-l">
                Check your answers
            </h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.DateOfBirth)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.DateOfBirth</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.DateOfBirth)">
                            Change
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

            @*     @if (Model.RegisteredWithSocialWorkEngland is not null) *@
            @*     { *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.RegisteredWithSocialWorkEngland)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.RegisteredWithSocialWorkEngland</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.RegisteredWithSocialWorkEngland)"> *@
            @*                     Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     } *@
            @* *@
            @*     @if (Model.StatutoryWorker is not null) *@
            @*     { *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.StatutoryWorker)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.StatutoryWorker</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.StatutoryWorker)"> *@
            @*                     Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     } *@
            @* *@
            @*     @if (Model.AgencyWorker is not null) *@
            @*     { *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.AgencyWorker)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.AgencyWorker</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.AgencyWorker)"> *@
            @*                     Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     } *@
            @* *@
            @*     @if (Model.Qualified is not null) *@
            @*     { *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Qualified)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.Qualified</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.Qualified)"> *@
            @*                     Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     } *@
            @* *@
            @*     <govuk-summary-list-row> *@
            @*         <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.FirstName)</govuk-summary-list-row-key> *@
            @*         <govuk-summary-list-row-value>@Model.FirstName</govuk-summary-list-row-value> *@
            @*         <govuk-summary-list-row-actions> *@
            @*             <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.FirstName)">Change *@
            @*             </govuk-summary-list-row-action> *@
            @*         </govuk-summary-list-row-actions> *@
            @*     </govuk-summary-list-row> *@
            @* *@
            @*     @if (Model.MiddleNames is not null) *@
            @*     { *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.MiddleNames)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.MiddleNames</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.MiddleNames)">Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     } *@
            @* *@
            @*     <govuk-summary-list-row> *@
            @*         <govuk-summary-list-row-key> *@
            @*             @Html.DisplayNameFor(model => model.LastName) *@
            @*         </govuk-summary-list-row-key> *@
            @*         <govuk-summary-list-row-value>@Model.LastName</govuk-summary-list-row-value> *@
            @*         <govuk-summary-list-row-actions> *@
            @*             <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.LastName)"> *@
            @*                 Change *@
            @*             </govuk-summary-list-row-action> *@
            @*         </govuk-summary-list-row-actions> *@
            @*     </govuk-summary-list-row> *@
            @* *@
            @*     <govuk-summary-list-row> *@
            @*         <govuk-summary-list-row-key> *@
            @*             @Html.DisplayNameFor(model => model.Email) *@
            @*         </govuk-summary-list-row-key> *@
            @*         <govuk-summary-list-row-value>@Model.Email</govuk-summary-list-row-value> *@
            @*         <govuk-summary-list-row-actions> *@
            @*             <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" *@
            @*                                            visually-hidden-text="@Html.DisplayNameFor(model => model.Email)">Change *@
            @*             </govuk-summary-list-row-action> *@
            @*         </govuk-summary-list-row-actions> *@
            @*     </govuk-summary-list-row> *@
            @* </govuk-summary-list> *@
            @* *@
            @* @if (Model.SocialWorkEnglandNumber is not null) *@
            @* { *@
            @*     <govuk-summary-list> *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.SocialWorkEnglandNumber</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" *@
            @*                                                visually-hidden-text="@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)">Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     </govuk-summary-list> *@
            @* } *@
            @* *@
            @* @if (Model.ProgrammeStartDate is not null) *@
            @* { *@
            @*     <govuk-summary-list> *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.ProgrammeStartDate)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.ProgrammeStartDate</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.ProgrammeStartDate)">Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
            @*     </govuk-summary-list> *@
            @* } *@
            @* *@
            @* @if (Model.ProgrammeEndDate is not null) *@
            @* { *@
            @*     <govuk-summary-list> *@
            @*         <govuk-summary-list-row> *@
            @*             <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.ProgrammeEndDate)</govuk-summary-list-row-key> *@
            @*             <govuk-summary-list-row-value>@Model.ProgrammeEndDate</govuk-summary-list-row-value> *@
            @*             <govuk-summary-list-row-actions> *@
            @*                 <govuk-summary-list-row-action href="@Model.ChangeDetailsLink" visually-hidden-text="@Html.DisplayNameFor(model => model.ProgrammeEndDate)">Change *@
            @*                 </govuk-summary-list-row-action> *@
            @*             </govuk-summary-list-row-actions> *@
            @*         </govuk-summary-list-row> *@
                </govuk-summary-list>
            }

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
