@page "{id:Guid?}"
@using Dfe.Sww.Ecf.Frontend.Extensions
@using Dfe.Sww.Ecf.Frontend.Models.RegisterSocialWorker
@model CheckYourAnswers

@{
    Model.Title = "Check your answers";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" data-test-id="confirm-details">
            <h1 class="govuk-heading-l">
                Check your answers
            </h1>

            <govuk-summary-list>
                @if (Model.DateOfBirth is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.DateOfBirth)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.DateOfBirth</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.DateOfBirthChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.DateOfBirth)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.UserSex is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.UserSex)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.UserSex.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.UserSexChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.UserSex)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.GenderMatchesSexAtBirth is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.GenderMatchesSexAtBirth)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.GenderMatchesSexAtBirth.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.GenderIdentityChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.GenderMatchesSexAtBirth)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.OtherGenderIdentity is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.OtherGenderIdentity)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.OtherGenderIdentity</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.GenderIdentityChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.OtherGenderIdentity)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.EthnicGroup is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.EthnicGroup)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.EthnicGroup.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.EthnicGroupChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.EthnicGroup)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.OtherEthnicGroup is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.OtherEthnicGroup)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.OtherEthnicGroup</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.EthnicGroupingChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.OtherEthnicGroup)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.Disability is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Disability)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.Disability.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.DisabilityChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.Disability)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.SocialWorkEnglandRegistrationDate is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.SocialWorkEnglandRegistrationDate)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.SocialWorkEnglandRegistrationDate</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.SocialWorkEnglandRegistrationChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.SocialWorkEnglandRegistrationDate)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.HighestQualification is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.HighestQualification)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.HighestQualification.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.HighestQualificationChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.HighestQualification)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.SocialWorkQualificationEndYear is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.SocialWorkQualificationEndYear)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.SocialWorkQualificationEndYear</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.SocialWorkQualificationEndYearChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.SocialWorkQualificationEndYear)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.RouteIntoSocialWork is not null && Model.RouteIntoSocialWork != RouteIntoSocialWork.Other)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.RouteIntoSocialWork)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.RouteIntoSocialWork.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.RouteIntoSocialWorkChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.RouteIntoSocialWork)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.OtherRouteIntoSocialWork is not null && Model.RouteIntoSocialWork == RouteIntoSocialWork.Other)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.OtherRouteIntoSocialWork)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.OtherRouteIntoSocialWork</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.RouteIntoSocialWorkChangeLink" visually-hidden-text="@Html.DisplayNameFor(model => model.OtherRouteIntoSocialWork)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

            </govuk-summary-list>

            <govuk-button type="submit">Continue</govuk-button>
        </form >
    </div >
</div >
