@page "{id:Guid?}"
@model ConfirmAccountDetails

@{
    Model.Title = "Confirm account details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-page-handler="@(Model.IsUpdatingAccount ? "update" : "")" asp-route-OrganisationId="@Model.OrganisationId" data-test-id="confirm-details">
            <h1 class="govuk-heading-l">
                Check user details before @(Model.IsUpdatingAccount ? "updating" : "adding") them
            </h1>

            <govuk-summary-list>

                @if (Model.IsUpdatingAccount == false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.UserType)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.UserType</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.UserTypeChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.UserType)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.AccountTypes is not null && Model.IsStaff is true)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.AccountTypes)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <account-types types="Model.AccountTypes"/>
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.AccountTypesChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.AccountTypes)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.StatutoryWorker is not null && Model.IsStaff is false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.StatutoryWorker)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.StatutoryWorker</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.StatutoryWorkerChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.StatutoryWorker)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.IsStaff is false && Model.SocialWorkEnglandNumber is not null && !Model.IsUpdatingAccount)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.SocialWorkEnglandNumber</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.SocialWorkEnglandNumberChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.AgencyWorker is not null && Model.IsStaff is false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.AgencyWorker)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.AgencyWorker</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.AgencyWorkerChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.AgencyWorker)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.Qualified is not null && Model.IsStaff is false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Qualified)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.Qualified</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.RecentlyQualifiedChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.Qualified)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.FirstName)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.FirstName</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.FirstNameChangeLink"
                                                       visually-hidden-text="@Html.DisplayNameFor(model => model.FirstName)">
                            Change
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                @if (Model.MiddleNames is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.MiddleNames)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.MiddleNames</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.MiddleNamesChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.MiddleNames)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Html.DisplayNameFor(model => model.LastName)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.LastName</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.LastNameChangeLink"
                                                       visually-hidden-text="@Html.DisplayNameFor(model => model.LastName)">
                            Change
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        @Html.DisplayNameFor(model => model.Email)
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Email</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.EmailChangeLink"
                                                       visually-hidden-text="@Html.DisplayNameFor(model => model.Email)">
                            Change
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>

                @if (Model.SocialWorkEnglandNumber is not null && (Model.IsStaff is true || Model.IsUpdatingAccount))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.SocialWorkEnglandNumber</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.SocialWorkEnglandNumberChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.SocialWorkEnglandNumber)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.ProgrammeStartDate is not null && Model.IsStaff is false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.ProgrammeStartDate)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.ProgrammeStartDate</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.ProgrammeDatesChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.ProgrammeStartDate)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.ProgrammeEndDate is not null && Model.IsStaff is false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.ProgrammeEndDate)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.ProgrammeEndDate</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@Model.ChangeDetailsLinks.ProgrammeDatesChangeLink"
                                                           visually-hidden-text="@Html.DisplayNameFor(model => model.ProgrammeEndDate)">
                                Change
                            </govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

            </govuk-summary-list>

            @if (Model.IsUpdatingAccount == false)
            {
                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">When you add this user, we will send them an invitation email with a link to enter the service through GOV.UK One Login.</p>

                <p class="govuk-body">This link will expire after 72 hours. If they do not activate their account in this time, they will need to request a new invitation email.</p>

                <p class="govuk-body">When they sign in for the first time, we will ask them to complete their registration by adding some personal information. Once this is done, they will be fully registered and able to use the service.</p>
            }

            <govuk-button type="submit">@(Model.IsUpdatingAccount ? "Update" : "Add this user")</govuk-button>
        </form>
    </div>
</div>
