@page "{id:Guid}"
@model Dfe.Sww.Ecf.Frontend.Pages.ManageAccounts.ViewAccountDetails

@{
    Model.Title = "View account details ";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            @Model.Account.FullName
        </h1>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>@Html.DisplayNameFor(model => model.Account.Types)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <account-types types="Model.Account.Types" />
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>First name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Account.FirstName</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Middle names</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Account.MiddleNames</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Last name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Account.LastName</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Account.Email</govuk-summary-list-row-value>
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            </govuk-summary-list-row>

            @if (Model.IsSocialWorker || Model.IsAssessor)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>SWE registration number</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Account.SocialWorkEnglandNumber</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            }
            @if (Model.IsSocialWorker)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Programme start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>{start date}@* TODO *@</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Expected programme end date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>{end date}@* TODO *@</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.EditAccountDetails(Model.Account.Id)" visually-hidden-text="account details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>
    </div>
</div>
