@page
@using Dfe.Sww.Ecf.Frontend.Extensions
@using Dfe.Sww.Ecf.Frontend.Models.RegisterSocialWorker
@using GovUk.Frontend.AspNetCore.TagHelpers
@model SelectEthnicGroupMixed

@{
    Model.Title = "Which of the following best describes your mixed or multiple ethnic groups background?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <govuk-radios for="SelectedEthnicGroupMixed">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        Which of the following best describes your mixed or multiple ethnic groups background?
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@EthnicGroupMixed.WhiteAndBlackCaribbean">@EthnicGroupMixed.WhiteAndBlackCaribbean.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@EthnicGroupMixed.WhiteAndBlackAfrican">@EthnicGroupMixed.WhiteAndBlackAfrican.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@EthnicGroupMixed.WhiteAndAsian">@EthnicGroupMixed.WhiteAndAsian.GetDisplayName()</govuk-radios-item>

                    <govuk-radios-item value="@EthnicGroupMixed.OtherEthnicGroup">
                        @EthnicGroupMixed.OtherEthnicGroup.GetDisplayName()
                        <govuk-radios-item-conditional>
                            <govuk-input for="OtherEthnicGroupMixed" spellcheck="false" type="text">
                                <govuk-input-label>How would you describe your background? (optional)</govuk-input-label>
                            </govuk-input>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>

                    <govuk-radios-divider>or</govuk-radios-divider>

                    <govuk-radios-item value="@EthnicGroupMixed.PreferNotToSay">@EthnicGroupMixed.PreferNotToSay.GetDisplayName()</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
