@page
@using Dfe.Sww.Ecf.Frontend.Extensions
@using Dfe.Sww.Ecf.Frontend.Models.RegisterSocialWorker
@using GovUk.Frontend.AspNetCore.TagHelpers
@model SelectEthnicGroupWhite

@{
    Model.Title = "Which of the following best describes your White background?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <govuk-radios for="SelectedEthnicGroupWhite">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        Which of the following best describes your White background?
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-item value="@EthnicGroupWhite.EnglishWelshScottishNorthernIrishOrBritish">@EthnicGroupWhite.EnglishWelshScottishNorthernIrishOrBritish.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@EthnicGroupWhite.Irish">@EthnicGroupWhite.Irish.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@EthnicGroupWhite.GypsyOrIrishTraveller">@EthnicGroupWhite.GypsyOrIrishTraveller.GetDisplayName()</govuk-radios-item>

                    <govuk-radios-item value="@EthnicGroupWhite.AnyOtherWhiteBackground">
                        @EthnicGroupWhite.AnyOtherWhiteBackground.GetDisplayName()
                        <govuk-radios-item-conditional>
                            <govuk-input for="OtherEthnicGroupWhite" spellcheck="false" type="text">
                                <govuk-input-label>How would you describe your background? (optional)</govuk-input-label>
                            </govuk-input>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>

                    <govuk-radios-divider>or</govuk-radios-divider>

                    <govuk-radios-item value="@EthnicGroupWhite.PreferNotToSay">@EthnicGroupWhite.PreferNotToSay.GetDisplayName()</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
